body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #C3DCB2;
    height: 70px;  /* ALTURA DO VERDE */
}

main, .content { 
    margin:0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 10px;
    width: 70%;
}

.redes-sociais ul li{
    margin-left: 35px;
    display:inline-block;
    list-style:none; 
}
.redes-sociais{
    width: 25%;
    float:right;
}

.fa-instagram{
    font-size: 30px;
    color: rgb(230, 37, 188);  
  }

.fa-twitter-square{
    font-size:30px;
    color:rgb(80, 157, 235);

}

.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding:16px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid rgb(174, 177, 189);

}

.menu ul li{
    display: inline-block;
    color: black;
    margin-left: 15px;
    height:40px ;
    
}

.menu ul li:hover{
    border-bottom: 3px dotted #C3DCB2;
}
.menu ul li a:hover{
    color:#C3DCB2;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float:left;

}
.busca{
    text-align: center;
    width:30%;
    float:right;
}

.busca input{
    width: 190px;
    height: 26px;
    margin-top: 10px;
    border: 1px solid #C3DCB2;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal{
    overflow: hidden;  
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color:#C3DCB2;
    text-transform: uppercase;

}
.texto-destaque p{
    color: black;
}

.col-3{
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position:relative;

}
.col-3 img:hover{
    position:relative;
    top: 10px;
    bottom:10px;
}
.bloco-texto{
    margin-top: 3em;

}