body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.menu-principal {
    width: 100%;
    background-color: #C3DCB2;
    height: 70px;  /* ALTURA DO VERDE */
}

main, .content { 
    margin:0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 10px;
    width: 70%;
}

.nome-loja h1{
    width: 25%;
    float:right;
    font-family:'lobster';
    color:#87a376;
    font-size: 30px;
}


.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding:16px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #C3DCB2;

}

.menu ul li{
    display: inline-block;
    color: black;
    margin-left: 15px;
    height:40px ;
    
}

.menu ul li:hover{
    border-bottom: 3px dotted #C3DCB2;
}
.menu ul li a:hover{
    color:#C3DCB2;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float:left;

}
.busca{
    text-align: center;
    width:30%;
    float:right;
}

.busca input{
    width: 190px;
    height: 26px;
    margin-top: 10px;
    border: 1px solid #C3DCB2;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal{
    overflow: hidden;  
}

.texto-destaque{
    text-align: center;
    
}

.texto-destaque h1{
    color:#C3DCB2;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
    
}
.texto-destaque p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}

.foto-p img{
    border-radius: 8px;
}
h2{
    color:#C3DCB2;
    font-size: 35px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
      
}
.col{
    padding-left: 12px;
    padding-right: 12px;
    width: 30%;
    float: left;
    position:relative;
}
.col-3{
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position:relative;
   
}

.col-3 img:hover{
    position:relative;
    top: 10px;
    bottom:10px;
}
.bloco-texto{
    margin-top: 3em;
}

/* ----------------------------footer------------------------------- */

.col-4 {
    
    float: left;
    width: 50%;
    text-align: center;
    position:relative;
    
}
.footer h3 {
    text-align: center;
    color:#42612f;
}
.footer {
  background-color: #C3DCB2;
  margin-top: 30px;
  font-size: 18px;
 
}
.footer-2 {
    background-color:#aec4a0 ;
    height: 70px;
    
}

.footer-2 p {
    padding: 8px;
    text-align: center;
    font-size: 20px;   
}

footer ul {
    list-style:none; 

}
footer li a{
    padding:3px;
}

.fa-instagram{
    font-size: 25px;
    color: rgb(230, 37, 188);  
  }

.fa-twitter-square{
    font-size:25px;
    color:rgb(80, 157, 235);
}

/* -------------------- pagina de contato --------------------------- */

.fale-conosco{
    background-color:#C3DCB2;
    text-align: left;
    width: 400px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding: 30px;
}

.nome{
    padding: 25px;
}

.celular{
    padding: 25px;
}

.email{
    padding:25px;
}

.faleconosco{
    padding: 25px;

}

.foto-contato{
    text-align: right;
    padding-right: 20px;
    
}

#fale{
    width: 250px;
    height: 35px;
    padding: 25px;
    border-color: #87aa72;
    border-radius: 5px;
    border-width: 2px;
}

#nome{
    border-color: #87aa72;
}

#celular{
    border-color: #87aa72;    
}

#email{
    border-color: #87aa72;
}
